
@{
    ViewBag.Title = "printInvoice";
    Layout = "~/Views/Shared/_LayoutForStudent.cshtml";
}

<h2 class="text-center">Print Invoice <small>Demo</small></h2>
<div class="box box-danger">
    <div class="box-header with-border">
        <h2 class="box-title"> &nbsp;&nbsp;Student Info</h2>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <b>Student ID:&nbsp;&nbsp;</b>
                        </div>
                        <input class="form-control text-center" type="text" value="6" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <b>Student Name:&nbsp;&nbsp;</b>
                        </div>
                        <input class="form-control text-center" type="text" value="Afnan Jawaid" readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <b>Student Class:&nbsp;&nbsp;</b>
                        </div>
                        <input class="form-control text-center" type="text" value="7" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
        <div class="box box-danger">
            <div class="box-header with-border">
                <h2 class="box-title"> &nbsp;&nbsp;Fees Form</h2>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Month</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>

                                    <td>January, 19</td>

                                    <td>Paid</td>

                                    <td class="text-center">
                                        @Html.ActionLink("Generate Fee", "printInvoice", "Fee", null, new { @class = "btn btn-primary", @target="_blank"})
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>

                                    <td>Febuary, 21</td>

                                    <td>Paid</td>

                                    <td class="text-center">
                                        @Html.ActionLink("Generate Fee", "printInvoice", "Fee", null, new { @class = "btn btn-primary", @target = "_blank" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>

                                    <td>March, 19</td>

                                    <td>Unpaid</td>

                                    <td class="text-center">
                                        @Html.ActionLink("Generate Fee", "printInvoice", "Fee", null, new { @class = "btn btn-primary", @target = "_blank" })
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
