USE [master]
GO
/****** Object:  Database [schoolManagSys]    Script Date: 1/27/2020 4:53:53 AM ******/
CREATE DATABASE [schoolManagSys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'schoolManagSys', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\schoolManagSys.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'schoolManagSys_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\schoolManagSys_log.ldf' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [schoolManagSys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [schoolManagSys]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 1/27/2020 4:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[att_ID] [int] IDENTITY(1,1) NOT NULL,
	[att_Date] [date] NULL,
	[att_Status] [nvarchar](15) NULL,
	[st_ID] [int] NULL,
	[cl_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[att_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Class]    Script Date: 1/27/2020 4:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[cl_ID] [int] IDENTITY(1,1) NOT NULL,
	[cl_Name] [nvarchar](2) NULL,
 CONSTRAINT [PK__Class__7062203B6CFD605B] PRIMARY KEY CLUSTERED 
(
	[cl_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 1/27/2020 4:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[fac_ID] [int] IDENTITY(1,1) NOT NULL,
	[fac_Name] [nvarchar](100) NULL,
	[fac_CNIC] [nvarchar](200) NULL,
	[fac_phoneNo] [nvarchar](200) NULL,
	[fac_Salary] [money] NULL,
	[user_ID] [int] NULL,
	[classTeacherOf] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[fac_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 1/27/2020 4:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[st_ID] [int] IDENTITY(1,1) NOT NULL,
	[st_Name] [nvarchar](100) NULL,
	[st_FatherName] [nvarchar](100) NULL,
	[st_Age] [int] NULL,
	[st_Phone] [nvarchar](200) NULL,
	[cl_ID] [int] NULL,
	[user_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[st_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentResult]    Script Date: 1/27/2020 4:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentResult](
	[str_ID] [int] IDENTITY(1,1) NOT NULL,
	[str_Type] [nvarchar](100) NULL,
	[str_MaxMarks] [int] NULL,
	[str_MarksObt] [int] NULL,
	[st_ID] [int] NULL,
	[cl_ID] [int] NULL,
	[sub_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[str_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 1/27/2020 4:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[sub_ID] [int] IDENTITY(1,1) NOT NULL,
	[sub_Name] [nvarchar](100) NULL,
	[fac_ID] [int] NULL,
	[cl_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sub_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/27/2020 4:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 1/27/2020 4:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL DEFAULT ((0)),
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL DEFAULT ((0)),
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 1/27/2020 4:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 1/27/2020 4:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 1/27/2020 4:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([att_ID], [att_Date], [att_Status], [st_ID], [cl_ID]) VALUES (991, CAST(N'2019-01-01' AS Date), N'Absent', 1, 2)
INSERT [dbo].[Attendance] ([att_ID], [att_Date], [att_Status], [st_ID], [cl_ID]) VALUES (992, CAST(N'2019-01-01' AS Date), N'Absent', 2, 2)
INSERT [dbo].[Attendance] ([att_ID], [att_Date], [att_Status], [st_ID], [cl_ID]) VALUES (993, CAST(N'2019-01-01' AS Date), N'Absent', 3, 2)
GO
SET IDENTITY_INSERT [dbo].[Attendance] OFF
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([cl_ID], [cl_Name]) VALUES (1, N'5')
INSERT [dbo].[Class] ([cl_ID], [cl_Name]) VALUES (2, N'6')
INSERT [dbo].[Class] ([cl_ID], [cl_Name]) VALUES (3, N'7')
SET IDENTITY_INSERT [dbo].[Class] OFF
SET IDENTITY_INSERT [dbo].[Faculty] ON 

INSERT [dbo].[Faculty] ([fac_ID], [fac_Name], [fac_CNIC], [fac_phoneNo], [fac_Salary], [user_ID], [classTeacherOf]) VALUES (1, N'Daniyal Safdar', N'44206-1285380-5', N'030013231231', 100000.0000, 2, 2)
INSERT [dbo].[Faculty] ([fac_ID], [fac_Name], [fac_CNIC], [fac_phoneNo], [fac_Salary], [user_ID], [classTeacherOf]) VALUES (2, N'Daniyal Ahmed', N'44206-1285452-5', N'030013231231', 100000.0000, 3, 3)
INSERT [dbo].[Faculty] ([fac_ID], [fac_Name], [fac_CNIC], [fac_phoneNo], [fac_Salary], [user_ID], [classTeacherOf]) VALUES (3, N'Aishah Tufail', N'44206-1285452-5', N'030013231231', 100000.0000, 5, NULL)
SET IDENTITY_INSERT [dbo].[Faculty] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([st_ID], [st_Name], [st_FatherName], [st_Age], [st_Phone], [cl_ID], [user_ID]) VALUES (1, N'Aisha Qadri', N'Qadri', 15, N'030013231231', 2, 6)
INSERT [dbo].[Student] ([st_ID], [st_Name], [st_FatherName], [st_Age], [st_Phone], [cl_ID], [user_ID]) VALUES (2, N'Aisha Attique', N'Attique', 15, N'030013231231', 2, 7)
INSERT [dbo].[Student] ([st_ID], [st_Name], [st_FatherName], [st_Age], [st_Phone], [cl_ID], [user_ID]) VALUES (3, N'Aisha Khan', N'Khan', 15, N'030013231231', 2, 8)
SET IDENTITY_INSERT [dbo].[Student] OFF
SET IDENTITY_INSERT [dbo].[StudentResult] ON 

INSERT [dbo].[StudentResult] ([str_ID], [str_Type], [str_MaxMarks], [str_MarksObt], [st_ID], [cl_ID], [sub_ID]) VALUES (85, N'Quiz 1', 10, 10, 1, 2, 1)
INSERT [dbo].[StudentResult] ([str_ID], [str_Type], [str_MaxMarks], [str_MarksObt], [st_ID], [cl_ID], [sub_ID]) VALUES (86, N'Quiz 2', 5, 4, 1, 2, 1)
INSERT [dbo].[StudentResult] ([str_ID], [str_Type], [str_MaxMarks], [str_MarksObt], [st_ID], [cl_ID], [sub_ID]) VALUES (87, N'Assignemnt 1', 20, 4, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[StudentResult] OFF
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([sub_ID], [sub_Name], [fac_ID], [cl_ID]) VALUES (1, N'Math-6', 1, 2)
INSERT [dbo].[Subjects] ([sub_ID], [sub_Name], [fac_ID], [cl_ID]) VALUES (2, N'Physics-6', 1, 2)
INSERT [dbo].[Subjects] ([sub_ID], [sub_Name], [fac_ID], [cl_ID]) VALUES (3, N'Urdu-7', 2, 3)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName]) VALUES (11, N'afnanjaved@gmail.com')
INSERT [dbo].[Users] ([UserId], [UserName]) VALUES (12, N'ahmedhussain@gmail.com')
INSERT [dbo].[Users] ([UserId], [UserName]) VALUES (7, N'aishaattique@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (1, CAST(N'2019-07-16 17:12:35.857' AS DateTime), NULL, 1, CAST(N'2019-07-17 10:19:49.880' AS DateTime), 0, N'AGmQcPsObVj0PiW6HkS9ewqVNQg4N4mnsMhtuSf9L3tF6D0pg/v4PvgyG3xl4wwcIg==', CAST(N'2019-07-16 17:12:35.857' AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (2, CAST(N'2019-07-17 10:28:59.453' AS DateTime), NULL, 1, NULL, 0, N'AHuEvUdnXHUMMi5eVD/gW08a/Z21IxInsovUwX9i8ETi0HSCKtOPoKnxw+5LkDLbUw==', CAST(N'2019-07-17 10:28:59.453' AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (3, CAST(N'2019-07-17 10:50:09.193' AS DateTime), NULL, 1, CAST(N'2019-07-18 19:11:58.393' AS DateTime), 0, N'AKWOjLltGhiwXIQ/Hu2vFEUcirsC3DwXhc8bNluYbk1V+xQwyjGzxdguffS83SlTqA==', CAST(N'2019-07-17 10:50:09.193' AS DateTime), N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[webpages_Roles] ON 

INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (1, N'Faculty')
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (2, N'Student')
SET IDENTITY_INSERT [dbo].[webpages_Roles] OFF
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (2, 1)
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (3, 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__C9F28456BC0B807F]    Script Date: 1/27/2020 4:53:54 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__webpages__8A2B6160E87DC9A2]    Script Date: 1/27/2020 4:53:54 AM ******/
ALTER TABLE [dbo].[webpages_Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK__Attendanc__cl_ID__20C1E124] FOREIGN KEY([cl_ID])
REFERENCES [dbo].[Class] ([cl_ID])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK__Attendanc__cl_ID__20C1E124]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([st_ID])
REFERENCES [dbo].[Student] ([st_ID])
GO
ALTER TABLE [dbo].[Faculty]  WITH CHECK ADD FOREIGN KEY([classTeacherOf])
REFERENCES [dbo].[Class] ([cl_ID])
GO
ALTER TABLE [dbo].[Faculty]  WITH CHECK ADD FOREIGN KEY([user_ID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK__Student__cl_ID__1273C1CD] FOREIGN KEY([cl_ID])
REFERENCES [dbo].[Class] ([cl_ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK__Student__cl_ID__1273C1CD]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([user_ID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudentResult]  WITH CHECK ADD  CONSTRAINT [FK__StudentRe__cl_ID__1BFD2C07] FOREIGN KEY([cl_ID])
REFERENCES [dbo].[Class] ([cl_ID])
GO
ALTER TABLE [dbo].[StudentResult] CHECK CONSTRAINT [FK__StudentRe__cl_ID__1BFD2C07]
GO
ALTER TABLE [dbo].[StudentResult]  WITH CHECK ADD FOREIGN KEY([st_ID])
REFERENCES [dbo].[Student] ([st_ID])
GO
ALTER TABLE [dbo].[StudentResult]  WITH CHECK ADD FOREIGN KEY([sub_ID])
REFERENCES [dbo].[Subjects] ([sub_ID])
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK__Subjects__cl_ID__182C9B23] FOREIGN KEY([cl_ID])
REFERENCES [dbo].[Class] ([cl_ID])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK__Subjects__cl_ID__182C9B23]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD FOREIGN KEY([fac_ID])
REFERENCES [dbo].[Faculty] ([fac_ID])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
USE [master]
GO
