@model SMS2.ViewModel.AttendanceModel

@{
                /**/

                ViewBag.Title = "View Attendance";
}




@using (Html.BeginForm("ViewAttendance", "Attendance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h2>&nbsp;&nbsp;View Attendance</h2>
                </div>
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <b>Date&nbsp;&nbsp;</b>
                                    
                                </div>
                                <input autocomplete="off" type="text" name="date" class="form-control pull-right" id="datepicker">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">CLASS</span>
                                @Html.HiddenFor(item => item.classId)
                                <input class="form-control text-center" type="text" value="@ViewBag.classID" name="classId" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="col-md-4">
                    </div>
                    <div style="padding-bottom:30px; padding-top:30px;" class="col-md-3">
                        <button type="submit" class="btn btn-block btn-success btn-lg">View Attendence</button>
                    </div>
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script src="~/Theme/AdminLTE-2.4.13/bower_components/jquery/dist/jquery.min.js"></script>
<script>
                $(function () {

                    //Date picker
                    $('#datepicker').datepicker({
                        autoclose: true
                    })

                })
</script>
