@model SMS2.Models.Student
@{
    ViewBag.Title = "AddResult";
    Layout = "~/Views/Shared/_LayoutForStudent.cshtml";
}
<div class="jumbotron" style="padding-bottom:0px;padding-top:5px;">
    <center>
        <h2 style="font-family:Arial;font-size:35px;font-weight:bold;">Select a Subject</h2>
        <p style="font-family:Arial;font-size:25px;">View Result<p>
    </center>
</div>


@foreach (SMS2.Models.Subject subject in Model.Class.Subjects)
{


    <a href="/StudentResultStudent/viewresultinside?subj_id=@subject.sub_ID">
        <center>
            <input type="button" class="btn btn-block btn-primary btn-sm" value="@subject.sub_Name" style="height:50px;width:400px;color:white;font-family:Arial;font-size:25px;max-width: 100%;" />
        </center>
    </a>

    <br />
}